<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FsdkFaceLib.Properties.FsdkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LuxandFace.FsdkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LuxandFace.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FsdkFaceLib.Properties.FsdkSettings>
            <setting name="FsdkInternalResizeWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FsdkFaceDetectionThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FsdkHandleArbitraryRot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsdkDetermineRotAngle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipMinimumConfirmations" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxSkippedFrames" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="PipelineParallelism" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PipelineQueueDepth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FsdkDetectFeatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsdkDetectFace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsdkDetectExpression" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FsdkActiovationKey" serializeAs="String">
                <value>qVyhlxKiB1+NfuKH8HjrN2QA5oaMXI/aYiH9AS9oDDTjdGZ9fwODv9iTJG/rAow2uRnGFkvZnjVbCHWSKThqoetUYxlMAI1j+Gm9sjl8eEi7zN01FgwY/bK7R6+NrSZ1aOMiWPP1NG8JcrzgIfH9qNCTI+9kQkw6Ns/mHES7O2E=</value>
            </setting>
            <setting name="InstantMatchThreshold" serializeAs="String">
                <value>0.998</value>
            </setting>
            <setting name="NewTemplateThreshold" serializeAs="String">
                <value>0.992</value>
            </setting>
            <setting name="MatchThreshold" serializeAs="String">
                <value>0.987</value>
            </setting>
        </FsdkFaceLib.Properties.FsdkSettings>
        <LuxandFace.FsdkSettings>
            <setting name="InstantMatchThreshold" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="UntrackedInstantMatchThreshold" serializeAs="String">
                <value>0.86</value>
            </setting>
            <setting name="NewTemplateThreshold" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="UntrackedNewTemplateThreshold" serializeAs="String">
                <value>0.88</value>
            </setting>
            <setting name="MatchThreshold" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="FsdkInternalResizeWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FsdkFaceDetectionThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FsdkHandleArbitraryRot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FsdkDetermineRotAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipMinimumConfirmations" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxSkippedFrames" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PipelineParallelism" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PipelineQueueDepth" serializeAs="String">
                <value>1</value>
            </setting>
        </LuxandFace.FsdkSettings>
        <LuxandFace.Settings>
            <setting name="InstantMatchThreshold" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="UntrackedInstantMatchThreshold" serializeAs="String">
                <value>0.86</value>
            </setting>
            <setting name="NewTemplateThreshold" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="UntrackedNewTemplateThreshold" serializeAs="String">
                <value>0.88</value>
            </setting>
            <setting name="MatchThreshold" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="FsdkInternalResizeWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FsdkFaceDetectionThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FsdkHandleArbitraryRot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FsdkDetermineRotAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipMinimumConfirmations" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxSkippedFrames" serializeAs="String">
                <value>10</value>
            </setting>
        </LuxandFace.Settings>
    </userSettings>
</configuration>