<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Properties.CoreSettings>
            <setting name="FaceWidthMultiplier" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="FaceHeightMultiplier" serializeAs="String">
                <value>1.85</value>
            </setting>
            <setting name="EnableAgeFiltering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableGenderFiltering" serializeAs="String">
                <value>False</value>
            </setting>
        </Core.Properties.CoreSettings>
    </userSettings>
</configuration>