<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kinect_Test.Settings1"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="App.Untracked.UntrackedAppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="App.Main.KinectTrackedAppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="App.FSDKTracked.FSDKTrackedAppSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="App.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Kinect_Test.FSDKTracker.FSDKTrackedAppSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <applicationSettings>
    <Kinect_Test.Settings1>
      <setting name="ViewSize" serializeAs="String">
        <value>0</value>
      </setting>
    </Kinect_Test.Settings1>
  </applicationSettings>
  <userSettings>
    <App.Untracked.UntrackedAppSettings>
      <setting name="FsdkInternalResizeWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="EnableAutoLearning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FsdkDetermineRotationAngle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FsdkHandleArbitraryRotations" serializeAs="String">
        <value>False</value>
      </setting>
    </App.Untracked.UntrackedAppSettings>
    <App.Main.KinectTrackedAppSettings>
      <setting name="RenderFace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RenderMatch" serializeAs="String">
        <value>True</value>
      </setting>
    </App.Main.KinectTrackedAppSettings>
    <App.FSDKTracked.FSDKTrackedAppSettings>
      <setting name="FsdkInternalResizeWidth" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="FsdkFaceDetectionThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FsdkDetermineRotAngle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FsdkHandleArbitraryRot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileFilter" serializeAs="String">
        <value>Dat files|*.dat|All files|*.*</value>
      </setting>
      <setting name="EnableLearning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MatchThreshold" serializeAs="String">
        <value>0.992</value>
      </setting>
      <setting name="DetectFeatures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetectExpression" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetectGender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetectAge" serializeAs="String">
        <value>False</value>
      </setting>
    </App.FSDKTracked.FSDKTrackedAppSettings>
    <App.Properties.Settings>
      <setting name="JointSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="BoneThickness" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="NameFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="NameFontFamily" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="DefaultSerializePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FileFilter" serializeAs="String">
        <value>Xml files|*.xml|All files|*.*</value>
      </setting>
    </App.Properties.Settings>
    <Kinect_Test.FSDKTracker.FSDKTrackedAppSettings>
      <setting name="FsdkInternalResizeWidth" serializeAs="String">
        <value>540</value>
      </setting>
      <setting name="FsdkFaceDetectionThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FsdkDetermineRotAngle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FsdkHandleArbitraryRot" serializeAs="String">
        <value>False</value>
      </setting>
    </Kinect_Test.FSDKTracker.FSDKTrackedAppSettings>
  </userSettings>
</configuration>